<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>YLO</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <style>
        body{
            background: linear-gradient(180.44deg, #42A1FF 3.93%, #008BB9 95.86%);
        }
        .header-title{
            font-family: 'Nunito', sans-serif;
        }
    </style>
</head>
<body class="h-screen">
  <div class="header-title grid cols place-content-center">
      <div class="img-container ">
        <img src="/static/ylo/ylo%20logo%202.png">
      </div>
      <hr>
      <div class="title-container">
        <h4>YOUR LOCAL REWARDS PARTNER</h4>
      </div>
  </div>
</body>
</html>